body {
    background-color: rgb(95, 4, 4);
    color: rgb(0, 0, 0);

   font-family: "Quintessential", serif;
margin: 0px;

}

header{
    font-size: 40px;
    text-align: center;
    border-bottom: dashed 5px rgb(116, 0, 0); 
    padding: 30px;
    color:rgb(139, 31, 31);
}

h1{
    font-size: 30px;
    padding-left: 30px;
}

p{
    font-size: 30px;
    padding-left: 30px;
}

.chamada{
    background-color: rgb(119, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 10%;
}

img{
    width: 300px;
    height: 200px
}

.categoria-video{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
}

h2{
    padding-left: 30px;
}

body{
    padding-bottom: 40px;
}