body {
    background-color: rgb(95, 4, 4);
    color: rgb(0, 0, 0);

   font-family: "Quintessential", serif;
margin: 0px;

}

header{
    font-size: 40px;
    text-align: center;
}

h1{
    font-size: 30px;
}

p{
    font-size: 30px;
}